.contact_form{
    background-color: var(--color-began);
    padding: 2rem 2rem;
    border-radius: 30px;
    color: white;
}

@media only screen and (max-width:768px){
    .contact_form{
padding: 1rem;
    }
}