.category-item {
    background-color: #f57c00;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 14px;
  }
  
  .category-item:hover {
    background-color: #f96c00;
  }
  
  .franchise_bg{
    background-color: var(--color-began);
    padding: 1rem 2rem;
    border-radius: 30px;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
  }