.rulesAndRegulations {
  background: #ffbe87;
  padding: 2rem 2rem;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 1rem;
  color: black;
}
.rulesAndRegulations p {
  margin: 0;
}

.examination_procedure {
  padding: 2rem 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 0px var(--color-orange);
  height: 100%;
}

.examination_procedure img {
  width: 50px;
  height: auto;
  margin-bottom: 1rem;
}

.examination_procedure h4 {
  color: #50368d;
  margin-bottom: 1rem;
}
